[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pyarrow = "*"
sqlalchemy = "*"
pandas = "*"
dask = "*"
mysqlclient = "*"
s3fs = "*"
awswrangler = "*"

[dev-packages]

[requires]
python_version = "3.8"
